<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="titl">
        <h1>Где в Барнауле жить хорошо?</h1>
        <h2>Коттеджные поселки - вторичный рынок</h2>
    </div>
    <div class="menu">
      <div class="wrap">
          <ul>
            <li><a href="{% url 'villages' %}">Поселки</a></li>
            <li><a href="{% url 'realtors' %}">Риэлторы</a></li>
<!--            <li><a href="">Риэлторы +</a></li>-->
            {% if user.is_authenticated %}
              <li class="use"><a href="{% url 'profile' %}">Пользователь: {{ user.username }}</a></li>
              <li><a href="{% url 'logout' %}">Выйти</a></li>
              {% else %}
            <li><a href="{% url 'login' %}">Войти</a></li>
            <li><a href="{% url 'register' %}">Регистрация</a></li>
              {% endif %}

          </ul>
      </div>
    </div>
    {% if messages %}
{% for message in messages %}
<div style="text-align: center">
    <div class="alert alert--{{message.tags}}">
        <p class="alert__message">{{message}}</p>
        <button class="alert__close">⨯</button>
    </div>
</div>
{% endfor %}
{% endif %}
        {% block content %}
        {% endblock %}
<script src="{% static 'uikit/app.js' %}"></script>
<script src="{% static 'js/script.js' %}"></script>
</body>
</html>