{% extends 'villages/base.html' %}

{% block content %}
<h1>Посёлки</h1>
          <form  class="form1" action="{% url 'villages' %}" method="get">
            <div class="form__field1">
              <input class="search_village"  type="text" name="search_village"
                placeholder="Поиск по названию" value="{{ search_village }}"/>
            </div>

            <input class="btn_search_village" type="submit" value="Поиск" />
          </form>

<div class="cards">
    {% for villag in villages %}
    <div class="card">
         <a href="{% url 'village' villag.id %}" class="village">
            <img class="image_card" src="{{ villag.featured_image.url }}" alt="image_card">
            <h2>
            {{ villag.title }}
            </h2>
            <p>Направление:<br>{{ villag.direction }} - {{ villag.distance }} км</p>
         </a>
    </div>
    {% endfor %}

</div>

<div class="pagin">
    <ul>
        {% if villages.has_previous %}
        <li><a href="?page={{ villages.previous_page_number }}" class="pbtn">&#10094;</a></li>
        {% endif %}
        {% for page in paginator.page_range %}
        {% if page == villages.number %}
        <li><a href="?page={{ page }}" class="pbtn-active">{{ page }}</a></li>
        {% else %}
        <li><a href="?page={{ page }}" class="pbtn">{{ page }}</a></li>
        {% endif %}
        {% endfor %}

        {% if villages.has_next %}
        <li><a href="?page={{ villages.next_page_number }}" class="pbtn">&#10095;</a></li>
        {% endif %}
    </ul>
</div>

{% endblock %}