body{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.titl{
    background-image: url('6_1018496.jpg');
    background-size: cover;
    box-sizing: border-box;
    padding: 50px;
    width: 100%;
    height: 500px;
    border: 3px solid black
}
.titl h1{
    color: rgb(6, 59, 6);
    font-size: 50px;
}

h1{
    text-align: center;
    font-size: 40px;
    color: brown;
}
h2{
    color: white;
}
.wrap{
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px 30px;
    box-sizing: border-box;
}

.menu{
    background: #FFA500;
    box-shadow: 0 2px 12px 2px #003366;
}

ul{
    list-style: none;
    padding: 0;
}

.menu ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
}

.menu a, .menu li{
    font-weight: bold;
    color: brown;
}

a{
    text-decoration: none;
}
.cards{
    width: 100%;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 50px;
}

.cards1{
    width: 100%;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}

.cards_one{
    padding: 0 50px;
    display: flex;
}

.card{
    padding: 15px;
    border: 3px solid black;
    border-radius: 10px;
    background-color: rgb(175, 175, 143);
    box-sizing: border-box;
}

.card1{
    width: 425px;
    height: 500px;
    padding: 10px;
    border: 3px solid black;
    border-radius: 10px;
    background-color: rgb(175, 175, 143);
    box-sizing: border-box;
    
}
.image_card_one{
    width: 700px;
    /* float: left; */
    margin-right: 20px;

}

.right p{
    font-size: 22px;
    font-weight: bold;
}

.info{
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-around; */
    gap: 20px;
    box-sizing: border-box;
}

.info h3{
    display: block;
    padding: 10px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: rgb(192, 192, 155)
    
}
.description{
    display: block;
    margin: 20px;
}
.card h2{
    margin-left: 20px;
    font-size: 30px;
    font-weight: bold;
    color: black;
}
.card p{
    margin-left: 20px;
    font-size: 18px;
    font-weight: bold;   
    color: black;
}
.image_card{
    width: 400px;
    height: 250px;
}