{% extends 'villages/base.html' %}

{% block content %}
<img class="image_card" src="{{ realtor.featured_image.url }}" alt="image_card">
<h1>{{ realtor.title }} (price)</h1>
{% if user.is_authenticated %}
<button class="btn-up"><a href="{% url 'cottage' %}">добавить объект</a></button>
{% endif %}
<div class="tab">
<table>
    <thead>
    <tr>
        <th>Поселок</th>
        <th>адрес</th>
        <th>площадь участка</th>
        <th>площадь дома</th>
        <th>этажность</th>
        <th>материал стен</th>
        <th>количество спален</th>
        <th>Web-site</th>
        <th>цена</th>
        {% if user.is_authenticated %}
        <th></th>
        <th></th>
        {% endif %}
    </tr>
    </thead>

    <tbody>
    {% for cottage in cottages %}
    <tr>
        <td>{{ cottage.village }}</td>
        <td>{{ cottage.adress }}</td>
        <td>{{ cottage.land_area }}</td>
        <td>{{ cottage.house_area }}</td>
        <td>{{ cottage.floors }}</td>
        <td>{{ cottage.walls }}</td>
        <td>{{ cottage.bedrooms }}</td>

        {% if cottage.web_site %}
        <td>
            <a href="{{ cottage.web_site }}" target="_blank">Avito</a>
        </td>
        {% else %}
        <td>{{ cottage.web_site }}</td>
        {% endif %}

        <td>{{ cottage.price }}</td>
        {% if user.is_authenticated %}
        <td>
<!--            Редактировать-->
            <a href="{% url 'update_cottage' cottage.id %}">Редактировать</a>
        </td>
        <td>
            <a href="{% url 'delete_cottage' cottage.id %}">Удалить</a>
        </td>
        {% endif %}
    </tr>
    {% endfor %}

    </tbody>
</table>
    <div class="realtor-contact">
        <p>{{ realtor.office_adress }}</p>
        <p>Тел: {{ realtor.contacts }}</p>
        <p>Whatsapp: {{ realtor.whatsapp }}</p>
        <p>Telegram: {{ realtor.telegram }}</p>
    </div>

</div>
{% endblock %}