{% extends 'villages/base.html' %}

{% block content %}
<h1>Агентства недвижимости</h1>
          <form  class="form1" action="{% url 'realtors' %}" method="get">
            <div class="form__field1">
              <input class="search_realtor"  type="text" name="search_realtor"
                placeholder="Поиск по названию" value="{{ search_realtor }}"/>
            </div>

            <input class="btn_search_realtor" type="submit" value="Поиск" />
          </form>

<div class="cards1">
    {% for realtor in realtors %}
    <div class="card1">
    <a href="{% url 'realtor' realtor.id %}" class="realtor">
        <img class="image_card" src="{{ realtor.featured_image.url }}" alt="image_card">
        <h2>
            {{ realtor.title }}
        </h2>
        <p>{{ realtor.office_adress }}</p>
        <p>Тел: {{ realtor.contacts }}</p>
        <p>Whatsapp: {{ realtor.whatsapp }}</p>
        <p>Telegram: {{ realtor.telegram }}</p>
    </a>
    </div>
    {% endfor %}

</div>

<div class="pagin">
    <ul>
        {% if realtors.has_previous %}
        <li><a href="?page={{ realtors.previous_page_number }}" class="pbtn">&#10094;</a></li>
        {% endif %}
        {% for page in pages_range %}
        {% if page == realtors.number %}
        <li><a href="?page={{ page }}" class="pbtn-active">{{ page }}</a></li>
        {% else %}
        <li><a href="?page={{ page }}" class="pbtn">{{ page }}</a></li>
        {% endif %}
        {% endfor %}

        {% if realtors.has_next %}
        <li><a href="?page={{ realtors.next_page_number }}" class="pbtn">&#10095;</a></li>
        {% endif %}
    </ul>
</div>

{% endblock %}